/* button coloring and hover capabilities */

header {
    display: inline-block;
}

.title {
    font-size: 2.5rem;
}

.firstRem {
    text-align: center;
}

.rules {
    font-size: 1.8rem;
    margin: 10%;
}

.start {
    background-color: #810deed3;
    border: none;
    color: #ccf1daa2;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 25%;
}